<nav class="navbar-expand-lg navbar fixed-top navbar-expand-md navbar-dark bg-dark mb-3">
    <a class="navbar-brand" routerLink="/">Digital Green</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active"><a class="nav-link" routerLink="/vendedor">Vendedores</a></li>
      </ul>
    </div>
  </nav>